<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      Firstname
      <input matInput type="text" name="firstname" ngModel required minlength="3" #firstname="ngModel">
      <mat-error *ngIf="firstname.invalid">Please enter Firstname.</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      Surname
      <textarea matInput name="surname" ngModel required #surname="ngModel"></textarea>
      <mat-error *ngIf="surname.invalid">Please enter Surname.</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      Number
      <textarea matInput name="number" ngModel required #number="ngModel"></textarea>
      <mat-error *ngIf="number.invalid">Please enter Number</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      Job
      <textarea matInput name="job" ngModel required #job="ngModel"></textarea>
      <mat-error *ngIf="job.invalid">Please enter Job</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      Website
      <textarea matInput name="website" ngModel required #website="ngModel"></textarea>
      <mat-error *ngIf="website.invalid">Please enter Website</mat-error>
    </mat-form-field>
    <br>
    <button mat-raised-button color="accent" type="submit">Save Post</button>
  </form>             
</mat-card>
