<mat-toolbar img src="assets/img/banner.jpg" style="width:100%">
  
  <mat-toolbar-row>
      <div id="container">
    <span class="title-center">
        <button mat-button [routerLink]="['']" color="Warn"><h2>Party Organizer App</h2></button>
    </span>
  </div>
  </mat-toolbar-row>
  <mat-toolbar-row id = "color">
      <button mat-button [routerLink]="['/view']" color="Warn">View Contacts</button>
      <button mat-button [routerLink]="['/create']" color="Warn">Add Contact</button>
      <button mat-button [routerLink]="['/list']">Edit Contact</button>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>